.conteiner {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 15px;
}

.block {
	display: flex;
	justify-content: flex-end;
}

.blockItem {
	background: #226e88;
	margin: 0px 5px;
	width: 15px;
	font-size: 60%;
}

.blockContent a {
	color: #226ea5;
}

.button {
	width: 15px;
	height: 1px;
	opacity: 0;
}