.main {
	margin: 0px 15px;
	background: #483D8B;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	max-width: 800px;
	margin: 0px auto;
}

.logo {
	width: 30px;
	height: 30px;
	background: #F0E68C;
	border-radius: 50%;
}

.menu {
	display: flex;
}

.buttom {
	width: 50px;
	height: 10px;
	background: #F0E68C;
	margin: 2px;
}

.body {
	background: white;
}

.bodyContainer {
	max-width: 800px;
	margin: 0px auto;
	padding: 15px;
}

.threeRow {
	display: flex;
	margin: 0px -10px;
}

.threeCol {
	border: solid black 2px;
	width: 33.33%;
	margin: 0px 10px;
	background: #008B8B;
	padding: 10px;
	padding-bottom: 1px;
	font-size: 70%;
	color: white; 
}

.threeImg {
	background: #F0E68C;
	padding-top: 60%;
}

.footer {
	height: 40px;
}