<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>Layout</title>
		<link rel="stylesheet" href="Layout.css" type="text/css"/>
	</head>
	
	<body>
		<div class='header'>
			<div class='headerBlock'>
				<div class='headerRow'>
					<div class='headerCol'>
						ABOUT US
					</div>
					<div class='headerCol'>
						WORK
					</div>
					<div class='headerCol'>
						BLOG
					</div>
					<div class='headerCol'>
						SHOP
					</div>
					<div class='headerCol'>
						CONTACT
					</div>
				</div>
			</div>	
		</div>
		
		<div class='sky'>
		</div>
		
		<div class='text'>
			<div class='container'>
				<div class='textTitle'>
					A Lorem ipsum dolor
				</div>
				<div class='textText'>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
				</div>
			</div>
		</div>
		
		<div class='meadow'>
			<div class='meadowRow'>
				<div class='meadowColImageBigContainer'>
					<div class='meadowColImageBig'></div>
				</div>
				<div class='meadowColTextImage'>
					<div class='meadowTextImageRow'>
						<div class='meadowTextImageColText'>
							<div class='meadowTitle'>
								Magna aliqua
							</div>
							<div class='meadowParagraph'>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation dolore.
							</div>
						</div>
						<div class='meadowTextImageColImage'>
						</div>
					</div>
				</div>
			</div>
		</div>
		 
		<div class='river'>
			<div class='riverRow'>
				<div class='riverColTextImage'>
					<div class='riverTextImageRow'>
						<div class='riverTextImageColText'>
							<div class='riverTitle'>
								La Bariosa
							</div>
							<div class='riverParagraph'>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation dolore.
							</div>
						</div>
						<div class='riverTextImageColImage'>
						</div>
					</div>
				</div>
				<div class='riverColImageBigContainer'>
					<div class='riverColImageBig'></div>
				</div>
			</div>
		</div>
		
		<div class='sea'>
			<div class='seaRow'>
				<div class='seaColImageBig1Container'>
					<div class='seaColImageBig1'></div>
				</div>
				<div class='seaColTextImage'>
					<div class='seaTextImageRow'>
						<div class='seaTextImageColText'>
							<div class='seaTitle'>
								Hutte irolle
							</div>
							<div class='seaParagraph'>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation dolore.
							</div>
						</div>
						<div class='seaTextImageColImage'>
						</div>
					</div>
				</div>
				<div class='seaColImageBig3Container'>
					<div class='seaColImageBig3'></div>
				</div>
			</div>
		</div>
		 
		<div class='text'>
			<div class='container'>
				<div class='textTitle'>
					AOD New York @aod / 35 min
				</div>
				<div class='textText'>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
				</div>
			</div>
		</div>
		
		
		
		
		
		
		
		<div class='mount'>
			<div class='mountRow'>
				<div class='mountCol1'>
					<div class='mountCol1Row'>
						<div class='mountCol1Col1'>
							<div class='mount1'></div>
						</div>
						<div class='mountCol1Col2'>
							<div class='mount2'></div>	
						</div>
						<div class='mountCol1Col3'>
							<div class='mount3'></div>	
						</div>
					</div>	
				</div>
				<div class='mountCol2'>
					<div class='mountCol2Row'>
						<div class='mountCol2Col1Mount4'>
							<div class='mount4'></div>
						</div>
						<div class='mountCol2Col2Mount5'>
							<div class='mount5'></div>
						</div>
					</div>
				</div>	
				<div class='mountCol3'>
					<div class='mountCol3Row'>
						<div class='mountCol3Col1'>
							<div class='mountText'>
								Shop now
							</div>
						</div>
						<div class='mountCol3Col2'>
							<div class='mount6'></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		

		
		
		
		
		<div class='shop'>
			<span class='shopButton'>
				DISCOVER THE SHOP
			</span>
		</div>
		
		<div class='seach'>
			<div class='seachBlock'>
				<div class='seachRow'>
					<div class='seachCol'>
						<div class='seachTitle'>
							Stay on the saddle!
						</div>
					</div>
					<div class='seachCol input'>
						<div class='seachInput'>
							seach...
						</div>
						<div class='seachButton'>
							GO
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class='footer'>
			<div class='container'>
				<div class='footerBlock'>
					<div class='footerRow'>
						<div class='footerCol'>
							<div>AOD New York</div>
							<div>2250 Lexington Avenue</div>
							<div>New York, NY 10035 -info@domain.com</div>
						</div>
						<div class='footerCol '>
							<div class='footerLogoRow '>
								<div class='footerLogoCol'><img src='.\images\vk.png'></div>
								<div class='footerLogoCol'><img src='.\images\facebook.png'></div>
								<div class='footerLogoCol'><img src='.\images\twitter.png'></div>
							</div>
						</div>
						<div class='footerCol'>
							Handcrafted by DM
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</body>
	
</html>