.Header {
	text-align: center;	
}

.hr {
	border: none; /* Убираем границу для браузера Firefox */
    color: #19365f; /* Цвет линии для остальных браузеров */
    background-color: #19365f; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}