.blockRow {	
	max-width: 1400px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.blockCol {
	
	padding: 5px;
}

a {
	color: white;
	text-decoration: none;
}

.activeLink {
	
	padding: 5px;
	border: solid #19365f 1px;
}

.hr {
	border: none; /* Убираем границу для браузера Firefox */
    color: #19365f; /* Цвет линии для остальных браузеров */
    background-color: #19365f; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}