.blockRow {	
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}
@media (max-width: 1150px){
	.blockRow {
		height: 100%;
		flex-direction: column;
		align-items: stretch;
	}
}

.blockPadding {
	flex-grow: 1;
	border-bottom: solid #19365f 2px;
}
@media (max-width: 1150px){
	.blockPadding {
		width: 150px;
		flex-grow: 1;
		border-bottom: none;
		border-right: solid #19365f 2px;
	}
	.top {
		flex-grow: 0;
		height: 20px;
	}
}

.noActiveLink {
	padding: 5px 10px;
	margin-right: -1px;
	color: white;
	text-decoration: none;
	border: solid #19365f 1px;
	border-bottom: solid #19365f 2px;
	border-radius: 5px 5px 0px 0px;
}
@media (max-width: 1150px){
	.noActiveLink {	
		padding: 10px 5px;
		width: 140px;
		border: none;
		border-radius: 0px;
		border-right: solid #19365f 2px;
	}
}

.activeLink {
	color: yellow;
	padding-top: 10px;
	border: solid #19365f 2px;
	border-bottom: none;
}
@media (max-width: 1150px){
	.activeLink {
		width: 140px;
		padding: 10px 4px;
		border: solid #19365f 2px;
		border-right: none;
	}
}