.blockRow {	
	max-width: 1400px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.blockCol {
	
	padding: 5px;
}

a {
	color: white;
	text-decoration: none;
}

.activeLink {
	
	padding: 5px;
	border: solid #19365f 1px;
}