.block {
	border: solid black 3px;
	padding: 10px;
	background: #0000ff;
}
.block_raw {
	border: solid black 3px;
	padding: 10px;
	background: #8b00ff;
}

.block_col {
	display: flex;
	align-items: center;
	
	border: solid black 2px;
	padding: 10px;
	background: #5e5373;
}

.block_item {
	border: solid black 2px;
	margin: 10px;
	padding: 10px;
	background: #0079db;
}

.fontSize {
	font-size: 150%;
}

.fontColor {
	color: white;
}