html, body, .wrapper {
	height: 100%;
	margin: 0px;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1180px;
	padding: 0px 10px;
	margin: 0px auto;
}

.header {
	background: #483D8B;
	margin-bottom: 5px;
}

.headerRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

.logo {
	width: 30px;
	height: 30px;
	background: #F0E68C;
	border-radius: 50%;
	font-size: 50%;
	text-align: center;
}

.headerMenu {
	display: flex;
}

.buttom {
	width: 50px;
	height: 10px;
	background: #F0E68C;
	margin: 2px;
}

.threeRow {
	display: flex;
}

@media (max-width: 772px){
	.threeRow {
		flex-direction: column;
	}
}

.threeCol {
	flex: 0 1 33.333%;
	border: solid black 2px;
	margin: 5px 5px;
	background: #008B8B;
	padding: 10px;
	padding-bottom: 1px;
	font-size: 70%;
	color: white; 
}

.image {
	background: #F0E68C;
	padding-top: 60%;
}

.two {
	flex: 1;
}

.twoRow {
	display: flex;	
}

@media (max-width: 772px){
	.twoRow {
		flex-direction: column;
	}
}

.twoCol {
	flex: 0 1 50%;
	border: solid black 2px;
	margin: 5px 5px;
	background: #008B8B;
	padding: 10px;
	padding-bottom: 1px;
	font-size: 70%;
	color: white; 
}

.footer {
	background: #483D8B;
}

.footerMenu {
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 3px;
}