.block1 {
	border: solid black 2px;
	padding: 10px;
	background: blue;
}

.block2 {
	border: solid black 2px;
	padding: 10px;
	background: blue;
	text-align: center;
}

.block_raw {
	border: solid black 2px;
	padding: 10px;
	background: red;
}

.block_cal1 {
	display: flex;
	border: solid black 2px;
	padding: 10px;
	background: yellow;
}

.block_cal2 {
	display: inline-flex;
	border: solid black 2px;
	padding: 10px;
	background: yellow;
}

.block_item {
	color: yellow;
	border: solid black 2px;
	margin: 10px;
	padding: 10px;
	background: green;
}